<h2 id="title">Welcome to Elm</h2>

<button {{action 'createAction' on='click'}}>New Action</button>
<button {{action 'cleanUp' on='click'}}>Clean Up</button>

{{#each action in model}}
  <li class="action">
    {{input type='text' placeholder='untitled item' value=action.title}}
  </li>
{{/each}}

{{outlet}}
